# ==========================================================
# ENVIRONMENT / SECRETS
# ==========================================================

.env
.env.*
!.env.example


# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

*.pyo
*.pyd

venv1/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/


# ==========================================================
# JUPYTER
# ==========================================================

.ipynb_checkpoints/


# ==========================================================
# LOGS
# ==========================================================

logs/**/*.log

# Keep log directories in Git
!logs/collection/.gitkeep
!logs/etl/.gitkeep


# ==========================================================
# DATA
# ==========================================================

data/input/*
data/output/*

# Keep folders in Git
!data/input/.gitkeep
!data/output/.gitkeep


# ==========================================================
# IDE / EDITOR
# ==========================================================

.vscode/
.idea/

*.swp
*.swo


# ==========================================================
# OS FILES
# ==========================================================

.DS_Store
Thumbs.db
desktop.ini


# ==========================================================
# DOCKER
# ==========================================================

docker-compose.override.yml


# ==========================================================
# AIRFLOW
# ==========================================================

airflow.cfg
airflow.db
airflow-webserver.pid


# ==========================================================
# TEMPORARY FILES
# ==========================================================

*.tmp
*.temp
*.bak